
@{
    ViewBag.Title = "國際類資訊";
}
<script src="~/Scripts/js/themes/ThemesHightcharts_colume_darkblue.js"></script>
<script src="https://code.highcharts.com/stock/highstock.js"></script>
<script src="https://code.highcharts.com/stock/modules/exporting.js"></script>
<script src="~/Scripts/self/NationalInfomation/NationalInfomation.js"></script>

<!DOCTYPE html>
<html>
<body class="login-page">
    
  


</body>
</html>
<script>
 
   
</script>
