@{ 
    ViewBag.Title = "公司基本資料";

}
<html>

<body>
    <h5> (公司資本額 * 每股面值 * 1000) /100 = 籌碼每 1% 所佔的張數 </h5>
    <hr />
    <div id="SingleStockCompany" name="iframe_a" style="width:1000px; height:1200px; overflow:hidden; position:relative">
        <iframe src="" height="1200" width="1000" id="SingleStock_CompanyFrame" style="position:absolute;top:-475px;left:-200px" scrolling="no" marginwidth="0" marginheight="0" frameborder="0"></iframe>

    </div>
    
</body>
</html>
