@model  StockCenteral.ViewModel.SingleStock.SingleStockModel

@{ 
    ViewBag.Title = "籌碼圖表_群組分類(散戶50以下 中實戶50~800 大戶 800以上)";

}

<script src="~/Scripts/self/SingleStock/SingleStockKindChart.js"></script>


<div id="SingleStockKindChartTDDC" style="min-width:84%;height:400px"></div>