@model  StockCenteral.ViewModel.SingleStock.SingleStockModel

@{ 
    ViewBag.Title = "籌碼圖表";

}

<script src="~/Scripts/self/SingleStock/SingleStockChart.js"></script>


<div id="SingleStockChartTDDC" style="min-width:85%;height:400px"></div>