@model  StockCenteral.ViewModel.SingleStock.SingleStockModel

@{ 
    ViewBag.Title = "個股月營收";

}
<html>
<body>
    <div id="SingleStockMonthlyRevenueIframe" name="iframe_a" style="width:1200px; height:1200px; overflow:hidden; position:relative">
        <iframe src="" height="1280" width="1200" id="innerframe" style="position:absolute;top:-435px;left:-100px" scrolling="no" marginwidth="0" marginheight="0" frameborder="0"></iframe>
    
    </div>
    
</body>
</html>
