@{ 
    ViewBag.Title = "股東會日程";

}
<html>

<body>
    <hr />
    <div id="SingleStockBossMetting" name="iframe_a" style="width:1000px; height:1100px; overflow:hidden; position:relative">
        <iframe src="" height="1100" width="1000" id="SingleStock_BossMettingFrame" style="position:absolute;top:-475px;left:-180px" scrolling="no" marginwidth="0" marginheight="0" frameborder="0"></iframe>

    </div>

  
</body>
</html>
