@model  StockCenteral.ViewModel.SingleStock.SingleStockModel

@{ 
    ViewBag.Title = "股東人數圖表";

}

<script src="~/Scripts/self/SingleStock/SingleStockPeopleChart.js"></script>


<div id="SingleStockPeopleChartTDDC" style="min-width:85%;height:400px"></div>