@{ 
    ViewBag.Title = "股票資料表";

}
<html>

<body>
    <table id="StorageTDDCTable" class="table bg-info table-bordered table-striped table-hover">
        <thead>
            <tr>
                <td>日期</td>
                <td>1-999(股)</td>
                <td>1-5(張)</td>
                <td>5-10(張)</td>
                <td>10-15(張)</td>
                <td>15-20(張)</td>
                <td>20-30(張)</td>
                <td>30-40(張)</td>
                <td>40-50(張)</td>
                <td>50-100(張)</td>
                <td>100-200(張)</td>
                <td>200-400(張)</td>
                <td>400-600(張)</td>
                <td>600-800(張)</td>
                <td>800-1000(張)</td>
                <td>1000以上(張)</td>
            </tr>
        </thead>
    </table>
  
</body>
</html>
